

body{
  color: #3C3C3C;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;


}

h1{
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.flex-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  left: 0px;
  display: flex;
  justify-content: center;
}

.w-10{
  width: 10%!important;
}

.text-gold{
  color: #B49E62;
}

.font-serif{
  font-family: 'Cormorant Garamond', serif;
}

.section{
  direction: relative;
}


.sectionContentOverlay{
  position: absolute;
  top:0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.45);
}

.sectionContentWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  left: 0px;
}

.sectionContentWrapper .sectionContent .homeSectionHeader{
  margin-bottom: 60px;
}

.sectionContentWrapper .sectionContent .homeSectionHeader img{
  height: 60px;
}

.sectionContentWrapper .sectionContent .homeSectionBody{
  color: #fff;
}

.sectionContentWrapper .sectionContent .homeSectionBody h1{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.sectionContentWrapper .sectionContent .homeSectionBody h2{
  font-family: 'Cormorant Garamond', serif;
}

.sectionContentWrapper .sectionContent .homeSectionBody p{

}

.sectionContentWrapper .sectionContent .homeSectionBody p a{
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2px;
}

.sectionContentWrapper .sectionContent .homeSectionFooter .sectionCursor{
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 200px;
  line-height: 32px;
  margin-top: 60px;
}

.homeSectionDownArrow a{
  color: #fff;
  font-size: 24px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -15px;
}

.stdPageCarousel{
  border: 4px solid black;
  background-color: #dacdbd;
}

.bg-grey-medium{
  background-color: #ebebeb
}

.h-15{
  height: 15%!important;
}

.stdPageCarousel .stdPageCarouselControls{
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 60px;
  height: 120px;
}

.stdPageCarousel .stdPageCarouselControls a{
  display: block;;
  height: 60px;
  width: 60px;
  background: #000;
  line-height: 60px;
  color: #fff;
}


#winesListAccordion{

}

#winesListAccordion .card, #winesListAccordion .card .card-header{
  border: none;
}

#winesListAccordion .card .card-header{

}

#winesListAccordion .card .card-header h2 button{
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

#winesListAccordion .card .card-body-wrapper{
  padding-left: 20px;
}

#winesListAccordion .card .card-body ul{
  margin-bottom: 0px;
}

#winesListAccordion .card .card-body ul li{
  font-size: 14px;
}

#winesListAccordion .card, #winesListAccordion .card .card-header, #winesListAccordion .card .card-body{
  background: transparent!important;
}

.wineListCaret{
  display: inline-block;
  transition: 0.5s all;
}

.wineListCaret.open{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wineSelect{
  cursor: pointer;
}

.wineSelect.active{
  color: #b63b3b;
}

h2.subtitle{
  font-size: 1.4rem;
}


.icon-small{
  width: 20px;
  margin-right: 10px;
}

.icon-list{
  margin-left: -20px;
}

.pageIconsListWrapper ul{
  margin-left: 40px;
}



.text-small{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}


ul.stdPageIconsList{

}

ul.stdPageIconsList li{
  margin-bottom: 10px;
}

ul.stdPageIconsList li img{

}

ul.stdPageIconsList li span{
  color: #000;
}

ul.stdPageIconsList.white li span{
  color: #fff!important;
}

.slickGalleryHeader{
  position: absolute;
  top:20px;
  left: 0px;
  text-align: center;
  z-index: 99999;
  width: 100%;
}


.slickGalleryFooter{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  text-align: center;
  z-index: 99999;
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
  color: #fff;
}

.stdPageTitleParagraph{
  font-size: 1.4rem;
}


.content{

}

.content h3{
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

div.fullPageContentPreIcons a{
  white-space: nowrap;
}




.slidingMenu{
  height: 100vh;
  width: 85vw;
  position: fixed;
  top:0px;
  left: 0vw;
  z-index: 9999999;
  background-color: rgba(255,255,255,0.97);
  transition: 0.8s all;
  opacity: 1;
}

.slidingMenu.out{
  top:0px;
  left: -85vw;
  opacity: 0;
}


.slidingMenu .slidingMenuContent{

  position: relative;
  width: 100%;
}

.slidingMenu .slidingMenuContent ul{


}

.slidingMenu .slidingMenuContent ul li{
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 10px;
}

.slidingMenu .slidingMenuContent ul li strong{
  letter-spacing: 4.1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  padding-left: 30px;

  background-position: center left;
  background-repeat: no-repeat;
}
.slidingMenu .slidingMenuContent ul li span{
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  display: inline-block;
  margin-left: 30px;
}

.close {
  position: absolute;
  right: 40px;
  top: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 999999;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.geografioMobileNavbar.dark a{
  color: #000!important;
}

.scrollToTopButton{
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: 0.5s all;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.scrollToTopButton.show{
  opacity: 1;
}


.wineShop{

  display: inline-block;
}

.wineShop h1{
  font-family: 'Cormorant Garamond', serif;
  color: #ac9457;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.wineShop h2{
  font-size: 14px;
}

.wineShop p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0px 20px;
}

.wineShop a{
  color: #000!important;
  letter-spacing: 1px;
}

.wineShop .topBar{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 13px;
}

.wineShop .bottomBar{
  margin:10px 0px 20px 0px;
  background: #ebebeb;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
  text-align: left;

}

.wineShop .bottomBar img{
  width: 25px;
  margin-right: 10px;
}


.arrowScrollDown{
  display: inline-block;

}
.arrowScrollDown span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrowScrollDown.black span{
  border-bottom: 1px solid #000!important;
  border-right: 1px solid #000!important;
}

.arrowScrollDown span:nth-child(2){
  animation-delay: -0.2s;
}
.arrowScrollDown span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}




#wineShops  div.row.vw-100p.bottomBar.container-fluid > div.col-12 > div > a{
  color: rgb(60,60,60)!important;
  letter-spacing: 0.5px!important;
}
